@import url('https://fonts.googleapis.com/css?family=El Messiri, sans-serif;');
.public{
    background: crimson;
    color: darkgrey;
    position: relative;
    top: -1967px;
    width: 1015px;
    left: -15px;
    height: 790px;
    padding-top: 50px;
}
/*for heading of component*/
.public h2{ padding-bottom: 50px;font-size: 35px; }
/*for heading of departments*/
.public h4{ padding-top: 10px;position: relative;right: -100px;color:black }
/*for the paragrah of departments*/
.public p{ color: aliceblue;font-size: 18px;padding-top: 10px; }
/*for heading of notice*/
.public .note{ position: absolute;right: 89px; }
/*for paragraph of notice*/
.public .notice{ position: relative;top: 67px;right: -153px;color: aliceblue; }

/*media query for mobile*/
@media only screen and (max-width: 768px){
    .public{
        position: relative;
        top: -2699px;
        width: 286%;
        height: 1170px;
    }
    .public h2{font-size: 50px;}
    .public h4{font-size: 32px;padding-top: 2px;}
    .public p{font-size: 25px;}
}